h1 {
  text-align: center;
  color: #080F0F;
}


body {
  background-color: #FFFFFF;
}

#form {
  text-align: center
}


p {
  text-align: center
}


#btn {
  border-radius: 5px;
  width: 130px;
  height: 30px;
  background-color: #00A8E8;
  font-weight: bold;
}


#input {
    border-radius: 5px;
    width: 130px;
    height: 21px;
    padding: 4px 70px;

}
